<!DOCTYPE html>
<html lang="en">

<% include ./_head %>

<!-- VIEWABLE APP -->
<body>
	<% include ./_bnav %>
	<div class="input-group">
		<form action="" id="newCharacter">
		    <input type="text" name="name" placeholder="Character Name" required>
		    <input type="number" name="age" placeholder="Age">
		    <input type="text" name="hair" placeholder="Hair Color">
		    <!-- <input type="text" name="skin" placeholder="Skin Tone"> -->
		    <!-- DROPDOWN MENU TO SELECT PROJECT -->

		    <button class="btn" type="submit" id="charSubmitBtn" disabled="true">Submit</button>
		</form>
	<% include ./_footer %>
</body>
</html>