<!DOCTYPE html>
<html lang="en">
<% include ./_head %>
<body id="front-page">
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1 id="hpTitle">Jots</h1>
      <p class="desText">What is Jots?</p>
      <!-- <button id="signupBtn" class="btn btn-primary center">Sign Up</button> -->
      <button id="gotoLogin" class="btn btn-info center">Wait! I already have an account!</button>
      <button id="gotoSignup" class="btn btn-info center hideForm">Actually, nevermind. Let me make an account.</button>
    </div>

<!-- SIGNUP -->
    <form id="signup-form" class="col-md-6">
      <h1 class="formTitle">Sign Up</h1>
      <hr>
      <div class="form-group">
      <input type="text" name="email" class="form-control" placeholder="Email" autofocus>
      </div>
      <div class="form-group">
      <input type="text" name="penname" class="form-control" placeholder="Penname">
      </div>
      <div class="form-group">
      <input type="password" name="password" class="form-control" placeholder="Password">
      </div>
<!--       <div class="form-group">
      <input type="password" name="confirm" class="form-control" placeholder="Confirm Password">
      </div> -->
      <div class="form-group">
      <input type="submit" id="newUserSubmit" value="Sign Up" class="btn btn-primary">
      </div>
    </form>

<!-- LOGIN -->
    <form id="login-form" class="col-md-6 hideForm">
      <h1 class="formTitle">Login</h1>
      <hr>
      <div class="form-group">
      <input type="text" name="email" class="form-control" placeholder="Email" autofocus>
      </div>
      <div class="form-group">
      <input type="password" name="password" class="form-control" placeholder="Password">
      </div>
      <div class="form-group">
      <input type="submit" id="loginSubmit" value="Login" class="btn btn-primary">
      </div>
    </form>
  </div>
</div>
</body>
</html>