<!DOCTYPE html>
<html lang="en">

<% include ./_head %>

<!-- VIEWABLE APP -->
<body>
	<% include ./_bnav %>
	<!-- CONTENT -->
	<div class="container">
		<div class="row">
			<h2>Machinapocolypse</h2>
		</div> <!-- col/row div -->
	</div> <!-- container div -->
	<div class="container">
		<div class="row">
			<div id="geo-col" class="col-md-3 col-md-offset-0">
				<p>Geography Column</p>
				<p>The Gyzad</p>
				<p>The City</p>
				<p>The Outer Sector</p>
			</div>
			<div id="plot-col" class="col-md-3 col-md-offset-0">
				<p>Plot Point Column</p>
				<p>Training</p>
				<p>Phase Two</p>
				<p>Out of Training</p>
			</div>
			<div id="char-col" class="col-md-3 col-md-offset-0">
				<p>Character Column</p>
				<p>Ani Forfrys</p>
				<p>Kaeri Forfrys</p>
				<p>Kryseis Eyt</p>
			</div>
			<div id="jot-col" class="col-md-3 col-md-offset-0">
				<p>Jots Column</p>
				<p>Idea 1</p>
				<p>Idea 2</p>
				<p>Idea 3</p>
			</div>
		</div> <!-- col/row div -->
	</div> <!-- container div -->
</body>
</html>
