<!DOCTYPE html>
<html lang="en">

<% include ./_head %>

<!-- VIEWABLE APP -->
<body>
	<% include ./_bnav %>
	<div class="input-group">
		<form action="" id="newProject">
		    <input type="text" name="title" placeholder="Project Title" required>
		    <input type="text" name="description" placeholder="Description" required>
		    <input type='hidden' name='selUser' id="<%= user._id %>" value=''>
		    <button class="btn" type="submit" id="projectSubmitBtn" disabled="true">Submit</button>
		</form>
	<% include ./_footer %>
</body>
</html>