<!DOCTYPE html>
<html lang="en">

<% include ./_head %>

<!-- VIEWABLE APP -->

<!-- TODO
	Forms
	Explore / Show app without a login
		"Take a tour" stretch
	-->
<!-- IDEAS
	transparent header
	codecademy-esque layout -->

<body id="splashPage">
	<!-- CONTENT -->
	<h1>Story Planner</h1>
	<h3>Coming Soon!</h3>
	<button class="btn btn-default btn-lg" data-toggle="modal" data-target="#signUpModal">Sign Up!</button><br />



	
	<a href="#" data-toggle="modal" data-target="#logInModal"><small><u>Log In</u></small></a>
	
	<p></p>
	<p class="not-logged-in">Not Logged In</p>
	<p class="logged-in">Logged In</p>





	<!-- SIGN UP MODAL -->
		<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">

		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
		      </div>

		      <div class="modal-body">
		      	...
		      </div>

		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Does Nothing</button>
		      </div>

		    </div>
		  </div>
		</div>
	
	<!-- LOG IN MODAL -->
		<div class="modal fade" id="logInModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">

		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Log In</h4>
		      </div>

		      <div class="modal-body">
		      	...
		      </div>

		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Does Nothing</button>
		      </div>

		    </div>
		  </div>
		</div>
</body>
</html>
