#splashPage {
	background-image: url('http://cdn.tutsplus.com/psd/uploads/legacy/0457_Create_a_Realistic_Paper_Texture/final-1-large.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
}